/* font-family: 'Syncopate', sans-serif; */

head{
    margin: 0px;
}

body{
    background-color: rgb(0, 0, 0);
}

/* MENU NAVIGATION */
.menu-title{
    font-size: 20px;
    color:white;
    vertical-align: middle;
    float: left;
}

ul{
    padding-inline-start: 10px;
}

nav#nav{
    display: block;
    background-color: black;
    height: 50px;
    position: relative;
}

nav.menu-nav{
    text-align: right;
    font-family: 'Syncopate', sans-serif;
}

nav.menu-nav ul.list li.btn{
    display: inline-block;
    list-style-type: none;
    display: contents;
    justify-content: right;
}


nav.menu-nav ul li.btn a {
	color: white;
	background-color:rgba(255, 255, 255, 0);
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	opacity: 1;
    font-size: 16px;
    vertical-align: middle;
    
}

nav.menu-nav ul li.btn a:hover {
	color: white;
	background-color:rgba(255, 255, 255, 0);
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	opacity: 1;
    vertical-align: middle;
    text-shadow: -5px -5px 1px #1ef2f1, 5px 5px 1px #f6050a;
    transition: 0.3s all;
    
}


/* Flexbox d'image */
.photo-acceuil{
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: bottom;
    align-items: stretch;
    display: flex;
    align-items: center;
    justify-content: center;


 
}
.photo-acceuil ul{

    flex-direction:row;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.photo-acceuil li{
    background-color: black;
    vertical-align:center;
    display: inline-block;
    margin: auto;
    flex-flow:row wrap;

}

.photo-acceuil h4 {
    text-align: center;
    background-color: black;
    
}

.photo-acceuil .picture  {
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    
}


/* vitrine d'album */

 .album ul {
    margin: 15px;
    border-radius: 20px;
    text-decoration: none;
    list-style-type: none;
    display:inline-block;
    flex-wrap:row wrap;
    margin: auto;
    text-align: center;
    color: white;
    vertical-align: center;
}
.album h1 {
    color: white;
    font-family: 'Syncopate', sans-serif;
    
}
.album li{
    margin: 18px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    
}
img.album-picture {
    height: auto;
    width: 500px;
    border-radius: 2rem 2rem;
    
}
img.album-picture:hover {
    box-shadow: -5px 0px 1px #ffffff, 5px 0px 0px #ffffff;
    transition: 0.4s;
}

.title-album{
    font-family: 'Syncopate', sans-serif;
    color: white;
}

/* fin vitrine d'album */


/* Vitrine  */

.vitrine{
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: bottom;
    align-items: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album-photo{
    height: auto;
    width: 1200px;
    border-radius: 1rem 1rem;
    margin: 50px;
}

/* Fin Vitrine */

div.titre h1{
    color: white;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    font-size: 45px;
    margin: 50px;
}

.contact-picture{
    border-radius: 31% 69% 75% 25% / 22% 52% 48% 78%  ;
    width: 800px;
    height: auto;
    
    
}



/* FOOTER */

.footer{
    display: block;
    background-color:black;
    color: white;
    padding-left: 20px ;
    font-family: 'Syncopate', sans-serif;
    padding-top: calc(50px);
}
