/* font-family: 'Syncopate', sans-serif; */

head{
    margin: 0px;
}

body{
    background-color: rgb(0, 0, 0);
}

/* MENU NAVIGATION */
.menu-title{
    
    font-size: 20px;
    color:white;
    vertical-align: middle;
}

ul{
    padding-inline-start: 10px;
}

nav#nav{
    display: block;
    background-color: black;
    height: 50px;
    position: relative;
}

nav.menu-nav{
    text-align: left;
    font-family: 'Syncopate', sans-serif;
}

nav.menu-nav ul.list li.btn{
     display: inline-block;
     list-style-type: none;
}

nav.menu-nav ul li a {
	
}

nav.menu-nav ul li.btn a {
	color: white;
	background-color:rgba(255, 255, 255, 0);
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	opacity: 1;
    font-size: 16px;
    vertical-align: middle;
    
}

nav.menu-nav ul li.btn a:hover {
	color: white;
	background-color:rgba(255, 255, 255, 0);
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	opacity: 1;
    vertical-align: middle;
    text-shadow: -5px -5px 1px #1ef2f1, 5px 5px 1px #f6050a;
    transition: 0.3s all;
    
}


/* Flexbox d'image */
.photo-acceuil{
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    flex-direction: row;
    flex-wrap: wrap;
    vertical-align: bottom;
    align-items: stretch;
    display: flex;
    align-items: center;
    justify-content: center;


 
}
.photo-acceuil ul{

    flex-direction:row;
    flex-wrap: wrap;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.photo-acceuil li{
    background-color: black;
    vertical-align:center;
    display: inline-block;
    margin: auto;
    flex-flow:row wrap;

}

.photo-acceuil h4 {
    text-align: center;
    background-color: black;
    
}

.photo-acceuil .picture  {
    background-color: rgb(250, 199, 33);
    width: 600px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    
}


/* vitrine d'album */

 .album ul {
    margin: 15px;
    border-radius: 20px;
    text-decoration: none;
    list-style-type: none;
    display:inline-block;
    flex-wrap:row wrap;
    margin: auto;
    text-align: center;
    color: white;
    vertical-align: center;
}
.album h1 {
    color: white;
    font-family: 'Syncopate', sans-serif;
    
}
.album li{
    margin: 18px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
img.album-picture {
    height: auto;
    width: 500px;
    border-radius: 30px;
}

.title-album{
    font-family: 'Syncopate', sans-serif;
    color: white;

}

div.titre h1{
    color: white;
    font-family: 'Syncopate', sans-serif;
    text-align: center;
    font-size: 45px;
    margin: 50px;
}



/* FOOTER */

.footer{
    display: block;
    background-color:black;
    color: white;
    padding-left: 20px ;
    font-family: 'Syncopate', sans-serif;
}
